{% extends 'website/base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
<h1>Register</h1>
<br>
<form action="" method="post">
{% csrf_token %}
{% if form.errors %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Your form has errors
          {% for field in form %}
          {% if field.errors %}
          {{field.errors}}
          {% endif %}
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

{% endif %}
{{form.as_p}}
<br>
<button type="submit" class='btn btn-primary'>Register</button>
</form>
</div>
{% endblock content %}